<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>

  </startup>
  <connectionStrings>
    <add name="EmanifestContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\IQMAN.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ServiceUrl" value="http://localhost:18062/"/>-->
    <!--<add key="ServiceUrl" value="http://iraq-seas.com/" />-->
    <!--<add key="ServiceUrl" value="http://127.0.0.1/"/>-->
    <!--<add key="ServiceUrl" value="http://ahmedrz-002-site5.htempurl.com/"/>-->
    <add key="ServiceUrl" value="https://iraq-seas.com/"/>
    <add key="Z_EntityFramework_Extensions_LicenseName" value="963;101-raiyagroup" />
    <add key="Z_EntityFramework_Extensions_LicenseKey" value="8410965e-1b64-8369-110f-33a7d1aa23e0" />
  </appSettings>
</configuration>